// Colors
$darkBlue: hsl(235, 28%, 25%);
$limeGreen: hsl(136, 64%, 51%);
$brightCyan: hsl(192, 66%, 49%);
$grayishBlue: hsl(232, 7%, 59%);
$lightGrayishBlue: hsl(216, 22%, 95%);
$veryLightGray: hsl(0, 0%, 99%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;